@gray:#333333;
@white:#ffffff;
@black:#000000;
@content-width:960px;

.text-center {
	text-align:center;
}

body {
	margin: 0 0 50px 0;
	padding: 0;
	font-family: helvetica, sans-serif;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.full-width {
	width: 100%;
}


.header {
	img {
		width: 100%;
	}

	.top-bar {
		top: .4em;
		position: absolute;
		color: @white;
		font-family: 'Norican', cursive;
		font-size: 5em;
		text-shadow: 0.05em 0.07em @black;
	}

	.navigation {
		background-color: rgba(0, 0, 0,.5);
		margin-top: -420px;
		position: absolute;
		.nav-element {
    		display:inline-block;
    		color:@white;
    		padding: .75em 1.5em;
    		text-transform: capitalize;
    		a {
    			color: @white;
    			text-decoration: none;
    		}
		}
	}
}

.content {
	margin: 0px 20px;
		.content-header {
			text-align: center;
			font-size:3em;
			padding: .5em 0;
			text-transform: uppercase;
		}

		.content-width {
			line-height: 140%;
			max-width: 900px;
			margin: 0 auto;

			&.books {
				img {
					width: 200px;
					padding: 10px;
				}
				text-align: center;
			}

			&.places {
				.column {
					display: inline-block;
					width: 297px;
				}
				.column-flex {
					display: flex;
					flex-direction: column;
				}
				.place {
					height: 40px;
					transition: height 1s;
					&:hover {
						height: 297px;
					}
					overflow: hidden;
					position: relative;
					text-align: center;
					display: inline-block;
					.tagline-background {
						position: absolute;
						width: 100%;
						height: 100%;
						color: transparent;
						.tagline {
							text-align: center;
							margin-top: 10px;
						}
						background-color: rgba(0, 0, 0,.5);
						color: white;
						&:hover {
							color: transparent;
							background: none;
						}
					}
					.image {
						overflow: hidden;
						img {
							width: 100%;
						}
					}
					
				}
			}
		}
	}

.inline-block {
	display: inline-block;
}

.white-bkg {
	background-color: @white;
}

.black-bkg {
	background-color: @black;
}
@media (max-width: 899px) {
	.content {
		.content-width.places {
			display: flex;
			flex-direction: column;
			height: 50px;
			.column {
				display: block;
				margin: 0 auto;
				width: 90%;
				text-align: center;
				.column-flex {
					display: block;
				}
			}
			.place {
				max-width: 640px;
				&:hover {
					height: 100%;
				}
			}
		}
	}
}
